# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/
.env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
static/
**/migrations/

# Secret files
client_secret*.json
*.pem
*.key

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 